.tile {
	display: flex;
	float: left;
    margin: 10px 10px 10px 10px;
}
.item {
	width: 500px;
	height: 300px;
	border: 1px solid goldenrod;
}
.response {
	margin-top: 15px;
}
.image_container {
	width: 200px;
}
.image_content {
	width: 200px;
}
.movie_details {
	width: 300px;
	position: relative;
    box-sizing: border-box;
    padding: 10px 16px 16px 16px;
}
.flex {
	display: flex;
	justify-content: space-between;
}
.movie_details_font_header {
	font-family: Futura;
}
.ellipsis {
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 12em;
}
.overview {
	word-wrap: break-word;
    white-space: normal;
    color: #4d4d4d;
    font-size: 0.9em;
    line-height: 1.2em;
    margin-top: 30px;
}
.more_info {
	border-top: 1px solid #e3e3e3;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
    width: 100%;
}
a {
	color: black;
}
a:hover {
	text-decoration: none;
}
.pagination-container {
	display: flex;
    clear: both;
    justify-content: flex-end;
}